/* base */
body {
  font-family:Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */
.header-logo {
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03;
}

.logo-part {
    color:#4D5AE5
}

.nav-link{
    font-weight: 500;
    color: #2E2F42;
}

.nav-list  .nav-link:hover, 
.nav-list  .nav-link:focus{
    color: #404BBF;
}

.address {
  font-style: normal;
}
.address-list{
    list-style-type: none;
}

.address-list .address-link{
    text-decoration: none;
    color: #2E2F42;
}

.address-list  .address-link:hover, 
.address-list  .address-link:focus{
    color: #404BBF;
}

/* hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07; 
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5; /* Iris */

}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* section features */
.features-subtitle {
    font-size: 20px;
    font-weight: 500;
}

/* section features */
.team {
  background-color: #F4F4FD;
}

.team-title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}
.team-item{
  background-color: #FFFFFF;
}

.team-name{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.team-desc{
  text-align: center;
}

/* section portfolio */
.portfolio-title{
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.portfolio-name{
  font-size: 20px;
  font-weight: 500;
}

/* section footer */
footer{
  background-color: #2E2F42;
}

.footer-logo{
  font-family:Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #F4F4FD;
  line-height: 1.17;
  letter-spacing: 0.03;
}

.footer-text{
  color: #F4F4FD;
}
